* {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}
.mainboard, #counter, #period, .but, .onoff {
    margin: 0 auto;
}
.mainboard {
    width: 500px;
    height: 500px;
    margin-top: 30px;
    position: relative;
}
#setup, #winmess {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 136px;
    left: 136px;
    border: 14px solid rgba(0, 0, 0, 0.9);
    border-radius: 100%;
    background: rgb(220, 220, 220);
    z-index: 4;
}
@keyframes showwinmess {
    0% {opacity: 0}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0}
}
#winmess {
    z-index: 5;
    opacity: 0;
    background: indigo;
    font-family: 'Cookie', cursive;
    border-color: rgba(180, 180, 180, 0.9);
    animation: showwinmess 5s linear;
}
p.message {
    color: white;
    font-size: 75px;
    padding-top: 20px;
}
.cells {
    width: 250px;
    height: 250px;
    float: left;
    position: relative;
    background: black;
    opacity: 0.9;
    z-index: 3;
}
.outc1 {
    border-top-left-radius: 100%;
}
.outc2 {
    border-top-right-radius: 100%;
}
.outc3 {
    border-bottom-left-radius: 100%;
}
.outc4 {
    border-bottom-right-radius: 100%;
}
.colorcell {
    width: 208px;
    height: 208px;
    border-radius: inherit;
    position: absolute;
    opacity: 0.4;
    box-shadow: 0 0 5px 0 grey;
}
#c1 {
    background: green;
    top: 28px;
    left: 28px;
}
#c2 {
    background: red;
    top: 28px;
    left: 14px;
}
#c3 {
    background: yellow;
    top: 14px;
    left: 28px;
}
#c4 {
    background: blue;
    top: 14px;
    right: 28px;
}
#counter, #period {
    width: 50px;
    height: 30px;
    border: 3px solid black;
    border-radius: 10px;
    background: #66231a;
    font-size: 26px;
    color: #ffce9b;
    font-family: 'Rye', cursive;
}
#title {
    font-size: 40px;
    margin-top: 10px;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
    line-height: 45px;
}
span.sign {
    font-size: 15px;
    vertical-align: super;
}
.half {
    width: 78px;
    height: 95px;
    float: left;
}
#start, #strictmode {
    background: rgb(224, 110, 31);
    height: 16px;
    width: 16px;
    box-shadow: 0 0 3px 1px black;
}
#strictmode {
    background: grey;
    opacity: 0.6;
}
#start:active {
    background: orange;
}
.but {
    height: 18px;
    width: 36px;
    background: black;
    border-radius: 2px;
    position: relative;
}
.inbut {
    background: grey;
    height: 14px;
    width: 15px;
    border-radius: 1px;
    position: absolute;
    top: 2px;
    left: 19px;
}
.switchon {
    left: 1px;
    background: #D173FF;
}
#strictmode.stricton {
    background: #D173FF;
    opacity: 1;
}
.onoff {
    width: 100px;
    vertical-align: super;
    clear: both;
    padding-top: 2px;
}
.btitle {
    font-variant: small-caps;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    line-height: 18px;
    margin-bottom: 5px;
}
.marl {
    margin-left: 20px;
}
.point:hover {
    cursor: pointer;
}
@keyframes lighted {
    0% {opacity: 0.7}
    20% {opacity: 1}
    80% {opacity: 1}
    100% {opacity: 0.5}

}
.light {
    opacity: 1;
}
.unavailable {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background: yellow;
    position: absolute;
    z-index: 3;
    opacity: 0;
}
